body {
    font-family: serif;
}

div.menu-option-container {
    display: block;
}

label {
    display: block;
    font-weight: bold;
    font-family: sans-serif;
}

input, select {
    margin-bottom: 10px;
    width: 40%;
}

p.explicatory {
    font-size: 80%;
    margin: 0 0 0 0;
    color: #888;
    font-style: italic;
}

.code {
    font-family: monospace;
    background-color: #ccc;
}

#form-area {
    display: none;
}

#in-progress {
    display: none;
}

img#preview {
    max-width: 100%;
}
